body {
    background: linear-gradient(to right, rgba(250, 250, 210, 0.69), rgba(118, 183, 19, 0.18));
}

input:invalid{
    border-style: double;
    border-color: #d00000;
}


.border-wrap {
    position: relative;
    background: -webkit-linear-gradient(top, rgba(226,186,120,1) 15%, rgba(163,126,67,1) 45%, rgba(145,112,59,1) 61%, rgba(213,173,109,1) 100%);
    padding: 4px;
    margin-top: 2%;
}
.container-main{
    margin: 2%;
}

.add-container {
    font-family: 'Belleza', sans-serif;
    width: 100%;
    text-align: center;
    display: inline-block;
    transition: all 0.3s ease 0s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 5%;
    font-weight: bold;
    background-color: white;
    animation-name: stretch;
    animation-duration: 500ms;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-delay: 0s;
    animation-direction: alternate;
    animation-fill-mode: none;
    animation-play-state: running;
}

.add-title {
    color: black;
    font-family: 'Belleza', sans-serif;
    text-align: center;
}

.title-incl-attr {
    font-family: 'Belleza', sans-serif;
    text-align: center;
    font-weight: 100;
    font-size: 25px;
    width: 100%;
}

@keyframes stretch {
    0% {
        transform: scale(.0);
        border-radius: 50%;
    }
    100% {
        transform: scale(1.0);
    }
}

.offer-title {
    margin-top: 5%;
    margin-bottom: 5%;
}

.offer-title-hr {
    height: 50px;
    background: linear-gradient(right, rgba(0, 0, 0, 0), #76b713, rgba(0, 0, 0, 0));
}
.add-title-hr {
    height: 50px;
    background: linear-gradient(right, rgba(0, 0, 0, 0), #090808, rgba(0, 0, 0, 0));
}

.button-add-offer {
    background-color: rgba(213,173,109,1);
    margin: 3%;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 28px;
    padding: 6px;
    width: 300px;
    margin-left: 80%;
}

.button-edit:hover {
    background-color: white;
    color: rgba(213,173,109,1);
    border-color: rgba(213,173,109,1);
    border-style: solid;
}

.button-add-attr {
    background-color: white;
    font-size: 20px;
    margin: 2% 25%;
    border: double #bda886;
    padding-left: 10%;
    padding-right: 10%;
    cursor: pointer;
    color: black;
}

.button-add-attr:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


.attr-group {
    width: 100%;
}


.button-delete-attr {
    background: #e5bf8f;
    border: none;
}

.custom-icon {
    color: white;
}

.button-delete-attr:hover {
    background: rgba(229, 191, 143, 0.56);
    border: none;
}


label {
    color: #000000;
    font-size: 25px;
    font-weight: 100;
}

.group-picture {
    margin: 1%;
}

.button-add-picture {
    background-color: white;
    font-size: 30px;
    margin: 2% 25%;
    border: double #bda886;
    padding-left: 10%;
    padding-right: 10%;
    cursor: pointer;
    color: black;
}

.button-add-picture:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/*border*/
*, ::after, ::before {
    box-sizing: border-box;
}

/*------------------------------------------------SIDEBAR-----------------------------------------------*/
.container-sidebar{
    margin-top: 3%;
    margin-left: 3%;
    font-family: 'Belleza', sans-serif;
    background: url("/images/vertical-background.jpg");background-size: cover;
    background-position: right;
}

.sidebar-widget{
    background: rgba(255, 255, 255, 0.7);
    padding: 5%;
    margin: 5%;
}

.sidebar-title{
    font-size: 30px;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    text-transform: uppercase;
}

.sidebar-h4{
    text-align: center;
}

.sidebar-p{
    text-align: center;
}

input:valid{
    border-style: double;
    border-color: #0f9800;
}

textarea:invalid{
    border-style: double;
    border-color: #d00000;
}

textarea:valid{
    border-style: double;
    border-color: #0f9800;
}

